.banner {
 text-align: center;
 max-width: 82%;
 margin: auto;
 padding-top: 3%;
 padding-bottom: 3%;
 font-family: "Helvetica Neue", sans-serif;
 

  
  &__img {
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    filter: brightness(70%);
        
    &__text {
      position: absolute;
      left: 25.9%;
      right: 25.14%;
      top: 24.32%;
      bottom: 69.04%;
      
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 142.6%;
      color: #FFFFFF;
          }


}
}
@media screen and (max-width: 1200px) {
  .banner {
    &__img {
    height: 220px;
   
      &__text {
        position: absolute;
       transform: translateY(-20px);
        
        font-size: 30px
  
  }

}
  }
}

@media screen and (max-width: 800px) {
  .banner {
    &__img {
    height: 180px;
    object-fit: cover;
   
      &__text {
        position: absolute;
       transform: translateY(-110px);
        
        font-size: 20px
  
  }

}
  }
}
