.footer {
    position: relative;
    background-color: black;
    text-align: center;
    bottom: 0;
    font-family: "Helvetica Neue", sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    width: 100%;
    

    &__text {
        text-align: center;
        font-size: 18px;
        color: white;
    }
}