
.thumb {
 
  max-width: 370px;
  height: 255px;
  position: relative;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
 

  &--img {
    width: inherit;
    height: inherit;
    object-fit: fill;
    border-radius: inherit;
    transform: scale(1.5);
    box-sizing: inherit;
    &:hover {
      filter: brightness(80%);
    }
  }

  &--title {
    position: absolute;
    bottom: 0px;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 20px;
    color: white;
    box-sizing: inherit;
    max-width: 100%;
    z-index: 100;
  }
}

.card {

  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    background: #f7f7f7;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 25px;
    margin-bottom: 40px;
    margin: auto;
    max-width: 80%;
    font-family: "Helvetica Neue", sans-serif;
  
}

.thumb::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.thumb--img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
    
}

@media screen and (max-width: 1200px) {
  .card {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 800px) {
  .card {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

}